@model _508EventPlus.Models.Event

@{
    ViewData["Title"] = "Delete";
}
<!--Defines the background colour by code -->
<body style="background-color:#ECFEFD;">

</body>

<h1>Delete</h1>
<!--Warns the user about their decision to delete information from the datatable-->
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <!--Defines the information that will be deleted when the user pressed the delete button-->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisersID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisersID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomersID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomersID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfAttendees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfAttendees)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialRequirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialRequirements)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <!--Displays a Delete button that when pressed deletes currently viewed information from the datatable and returns the user back to the table view-->
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
