@model IEnumerable<_508EventPlus.Models.Event>

@{
    ViewData["Title"] = "Index";
}
<!--Defines the background colour using colour codes-->
<body style="background-color:#ECFEFD;">

</body>
<h1>Event Viewer</h1>
<!--Displays a Create button used to create an entry in the events table-->
<p>
    <a asp-action="Create">
        <input type="button" class="btn btn-dark" value="Create" /></a>
</p>
<!--Defines the information that is to be displayed in the header of the table-->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganisersID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomersID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfAttendees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <!--Defines the information that is to be displayed in the body of the table-->
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganisersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomersID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfAttendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <!--Creates buttons for each of the data entries. Providing the user with Edit, Details, and Delete buttons to edit the information in the table-->
                <a asp-action="Edit" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-info" value="Edit" /></a> 

                <a asp-action="Details" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-dark" value="Details" /></a> 

                <a asp-action="Delete" asp-route-id="@item.ID">
                    <input type="button" class="btn btn-danger" value="Delete" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
