@model _508EventPlus.Models.Organiser

@{
    ViewData["Title"] = "Details";
}
<!--Defines the background colour by code -->
<body style="background-color:#ECFEFD;">

</body>

<h1>Details</h1>
<!--Displays the information on the selected organiser-->
<div>
    <h4>Organiser</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
</div
<!--Displays an edit button to allow users to edit an organisers information-->>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">
        Edit
        <input type="button" class="btn btn-info" value="Edit" />
    </a> |
    <!--Displays a button that returns users to the table-->
    <a asp-action="Index">
        <input type="button" class="btn btn-dark" value="Back to List" />
    </a>
</div>
