@model _508EventPlus.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<!--Defines the background colour by code -->
<body style="background-color:#ECFEFD;">

</body>

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <!--Displays information that is stored on the database about the selected customer -->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
</div>
<!--Allows the information about selected customer to be edited when Edit button is pressed -->
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">
        <input type="button" class="btn btn-info" value="Edit" />
    </a> |
    <!-- Returns back to datatable -->
    <a asp-action="Index">
        <input type="button" class="btn btn-dark" value="Back to List" />
    </a>
</div>
